@CHARSET "ISO-8859-1";

body {
	margin: 0px;
	font-family: serif;
}

header {
	border: 0px none black;
	padding: 10px;
	margin: 0px;
	background-color: #3399ff;
	font-weight: bold;
	color: black;
	text-align: center;
}

header h1{
	border: 0px none black;
	padding: 0px;
	margin: 0px;
}

nav {
	float: left;
	
	width: 13%;
	height: 500px;
	
	margin: 0px;
	border: 0px none black;
	padding-left: 1%;
	padding-right: 1%;
	overflow: auto;
	
	background-color: #80bfff;
	font-weight: normal;
	text-align: left;
	color: black; 
}

nav ul {
	list-style-type: none;
	padding: 0px;
}

#active-user-email {
	width: 80%;
	overflow: hidden;
	padding-bottom: 10px;
}

section {
	float: none;
	
	width: 65%;
	height: 800px;
	
	border: 0px none black;
	padding-right: 10%;
	padding-left: 10%;
	margin: 0px;
	
	overflow: auto;
	
	font-weight: normal;
	color: black;
	
}

footer {	
	clear: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: right;
	background-color: #3399ff;
}

.warning {
	color: red;
}

.success {
	color: green;
}