@CHARSET "ISO-8859-1";

body {
	margin: 0px;
}

#main-container {
	height: 100vh;
	margin: 0;
	width: 100%;
	
	display: flex;
	flex-direction: column; 
}

#header {
	height: 100px;
	text-align: center;
	background-color: blue;
}

#center-container {
	flex: 1;
	
	display: flex;
	flex-direction: row;
}

#nav {
	width: 200px;
	background-color: lime;
	overflow: auto;
}

#active-user-email h2{
	text-align: center
}

#active-user-email p{
	text-align: center
}

#menu h2{
	text-align: center
}

#menu ul{
	list-style: none;
	padding-left: 0px;
	text-align: center;
}

#menu li a{
	display: block;
	height: 100%;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#menu li a:hover {
	background-color: green;
}

#menu li a:LINK {
	text-decoration: none;
	color: black;
}

#menu li a:VISITED {
	color: black;
}

#section {
	flex: 1;
	overflow: auto;
}

#footer {
	height: 64px;
	text-align: right;
	
	background-color: blue;
}


.warning {
	color: red;
}

.success {
	color: green;
}