@CHARSET "ISO-8859-1";

#section h2 {
	text-align: center;
}

#reservations-table {
	border-collapse: collapse;
	border: solid 1px black;
	min-width: 500px;
	width: 80%;
	margin: auto;
	
	background-color: white;	
	text-align: center;
}

#reservations-table td {
	border-right: solid 1px;
	border-left: solid 1px;
}

#reservations-table caption {
	font-size: large;
	padding-bottom: 10px;
}

#reservations-table thead {
	background-color: #3399ff;
	font-weight: bold;
}

#reservations-table thead td { 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#reservations-table tbody {
	font-weight: normal;
}

#reservations-table tbody td{
	padding-top: 15px;
	padding-bottom: 15px;
}

#reservations-table tbody tr:nth-child(even) {
	background-color: #e0e0e0;
}

#reservations-table tfoot {
	background-color: #3399ff;
	font-weight: bold;
}

#reservations-table tfoot p{
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px; 
}