@CHARSET "ISO-8859-1";

section h2 {
	text-align: center;
}

#my-reservations-table {
	border-collapse: collapse;
	border-style: solid;
	text-align: center;
	width: 100%;
}

#my-reservations-table caption {
	text-align: left;
	padding-bottom: 10px;
}

#my-reservations-table thead {
	background-color: #3399ff;
	font-weight: bold;
}

#my-reservations-table thead td { 
    padding-left: 10px;
    padding-right: 10px;
}

#my-reservations-table tbody {
	font-weight: normal;
}

#my-reservations-table tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

#tot-reservations p {
	margin-top: 10px;
	margin-bottom: 10px;
}