@CHARSET "ISO-8859-1";

section h2 {
	text-align: center;
}

section fieldset {
	margin: auto;
	width: 700px;
}

section table {
	max-width: 600px;
	margin: auto;
	text-align: left;
}


section div#buttons {
	text-align: center;
	margin: auto;
	width: 150px;
}

section div input#submit {
	float: left;
	width: 60px;
}

section div input#clear {
	float: right;
	width: 60px;
}

section table .warning {
	color: red;
	font-style: italic;
	text-align: center;
}

section div#warning_div {
	width: auto;
	margin: auto;
	text-align: center;
	font-style: italic;
	color: red;
}